.notation {
  display: flex;
  gap: 1px;
  padding: 2px 0 4px;
  align-items: center;
}

.beatGroup {
  display: block;
  width: 20px;
  height: 38px;
}

.inactive {
  color: var(--text-tertiary);
}

.active {
  color: var(--now-playing);
  transition: color 0.05s;
}
